<div class="col-lg-4 col-md-6 blog-post post">
  <h3 class="blog-link">Title of blog post</h3>
  <p>I started collecting old and pretty things from a very young age. At about 9 years old, a flea market was absolute heaven to me. With my pocket money, I would buy things I was drawn to; a paste brooch, a ceramic ornament, a pair of vintage shoes that were way too big for me!
</p>
</div>
