
<%- include("partials/header") -%>
<div class="container main-div">
  <%- include("partials/navbar") -%>

  <h1 class="blog-link">Title</h1>
  <p>I started collecting old and pretty things from a very young age. At about 9 years old, a flea market was absolute heaven to me. With my pocket money, I would buy things I was drawn to; a paste brooch, a ceramic ornament, a pair of vintage shoes that were way too big for me!
  </p>
</div>

<%- include("partials/footer") -%>
