<%- include("partials/header") -%>
<div class="container main-div">
  <%- include("partials/navbar") -%>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <form>
          <div class="form-group">
            <label for="TitlesInput">Post Title</label>
            <input type="text" class="form-control" id="TitleInput">
          </div>
          <div class="form-group">
            <label for="ContentInput">Post Content</label>
            <textarea class="form-control" id="ContentInput" rows="3"></textarea>
          </div>
          <button type="button" class="btn btn-outline-dark submit-button">Post</button>
        </form>
      </div>

</div>

<%- include("partials/footer") -%>
