<%- include("partials/header") -%>

<div class="container main-div">

  <%- include("partials/navbar") -%>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <form>
        <div class="form-group">
          <label for="fNameInput">First Name</label>
          <input type="text" class="form-control" id="fNameInput">
        </div>
        <div class="form-group">
          <label for="lNameInput">Last Name</label>
          <input type="text" class="form-control" id="lNameInput">
        </div>
        <div class="form-group">
          <label for="EmailInput">Email address</label>
          <input type="email" class="form-control" id="EmailInput" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="TextareaInput">Message</label>
          <textarea class="form-control" id="TextareaInput" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-outline-dark submit-button">Submit</button>
      </form>
    </div>

  </div>

</div>


</div>

<%- include("partials/footer") -%>
